<html class="no-js" style="height: 100vh;">
  <head>
    <title>Active K9</title>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=yes" />
    <link rel="manifest" href="/manifest.json">
    <!-- <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Open+Sans"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" href="/favicon.png">
  </head>
  <body flex layout="column" id="root" style="background-color: rgb(216, 216, 216); height: 100%; margin: 0;">
    <app flex layout="column" id="app" style="height: 100%;"></app>
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
